version: "3.8"

services:
  go:
    container_name: go-app
    volumes:
      - ./app:/app
    working_dir: /app
    tty: true
    build:
      context: .
      dockerfile: ./build/dockerfiles/app/Dockerfile
    depends_on:
      - db
    ports:
      - 8080:8080
  
  db:
    container_name: go-app-db
    build:
      context: .
      dockerfile: ./build/dockerfiles/db/Dockerfile
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_INITDB_ARGS="--encoding=UTF-8 --locale=ja_JP.UTF-8"
    volumes:
      # Dockerボリューム(db-store)を、コンテナ内の/var/lib/postgresql/dataディレクトリにマウントする。
      # PostgreSQLがデータベースのデータを保存する場所です。
      # データベースのデータが永続化され、コンテナが削除されてもデータが保持される。
      - ./data:/var/lib/postgresql/data
      # ホストの./app/database/initディレクトリを、コンテナ内の/docker-entry-point-initdb.dディレクトリにマウント
      # このディレクトリには、コンテナが起動する際に自動的に実行されるスクリプトを置くことができます。
      # この設定により、データベースの初期化処理などを自動的に行うことができる
      - ./app/database/init:/docker-entrypoint-initdb.d
    ports:
      - ${DB_PORT}:5432

# Dockerホストのファイルシステム上に永続的なデータを保存
# dbにて/var/lib/postgresql/dataにマウントし、データベースのデータを永続化する
volumes:
  data: